<!DOCTYPE html>
<html>
    <head>
        <title>ml</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <a title="home" href="/home.html">home</a>
            <a title="ml" href="/data_preprocessing.html">data preprocessing</a>
        </nav>
    